.control {
  @apply bg-violet absolute bottom-10 right-10 flex flex-row
  border-accent-0 border text-accent-0 z-30 shadow-xl select-none;
  height: 48px;
  border-radius: 2rem;
  box-shadow: -2px 5px 20px rgba(0, 0, 0, 0.25);
}

.leftControl,
.rightControl {
  @apply px-9 cursor-pointer;
  transition: background-color 0.2s ease;

}

.leftControl:hover,
.rightControl:hover {

}

.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.rightControl {
  @apply border-l border-accent-0;
}

.leftControl {
  margin-right: -1px;
}
